@model CQRSCode.ReadModel.Dtos.ProductDto
@{
    ViewData["Title"] = "Home Page";
}

<h2>Product details</h2>

<p>
    Id: @Model.Id<br />
    Name: @Model.Name<br />
    Description: @Model.Description<br />
</p>

<h2>@Model.Offers.Count() Offer(s)</h2>
@foreach (var offer in Model.Offers)
{
    <p>
        Id: @offer.Id<br />
        Merchant: @offer.MerchantName<br />
        Stock: @offer.Stock<br />
        Price: @offer.Price
    </p>
}


@Html.ActionLink("Edit", "Edit")